<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097541690824-95vs4kbdls1d2v8is9iavs5bpbvjl8bf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097541690824-95vs4kbdls1d2v8is9iavs5bpbvjl8bf</string>
	<key>API_KEY</key>
	<string>AIzaSyAaOPfs72XL4ePaqzezjUsLcnXe8SEhKeU</string>
	<key>GCM_SENDER_ID</key>
	<string>1097541690824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.maestraelenaApp</string>
	<key>PROJECT_ID</key>
	<string>maestraelenaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>maestraelenaapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097541690824:ios:e2e5fb977da76e9963ccfd</string>
</dict>
</plist>